:root {
  --navy: #000c20;
  --orange: #fb4616;
  --orange-overlay: #fb4616;
  --red: #cf0501;
  --blue: #0090ff;
  --light-grey: #f9f9f9;
  --blue-grey: #677294;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-head: "Inter", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-pop: "Poppins", sans-serif;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.flex {
  display: flex;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-head);
}

ul {
  padding: 0;
}

.styled-list {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

a,
input,
textarea {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.btn {
  font-family: var(--font-pop);
  font-weight: 700;
}

button {
  background: none;
  border: none;
  color: inherit;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

p,
span {
  margin: 0;
}
.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.col {
  flex: 12;
}

.round-1 {
  border-radius: 0.5em;
}

.round-2 {
  border-radius: 1em;
}

section {
  padding: 4em 0;
}

.section-title {
  text-align: center;
  margin: 3em 0;
}

.section-title p {
  color: var(--orange);
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 1.2rem;
}

.section-title h2 {
  font-weight: 800;
  text-transform: capitalize;
  font-size: 2rem;
}

.align-items-start {
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}